/**
 * Masterpi CSS
 * Copyright 2018 - Nathan Osman
 */

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 16px;
}

button {
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 16px;
}

button:hover {
    background-color: #fff;
}

h1 {
    font-size: 32pt;
    font-weight: normal;
    margin-top: 0;
}

h1 small {
    display: block;
    font-size: 12pt;
}

label {
    display: block;
    margin: 8px 0;
}

label input {
    border: 1px solid #aaa;
    border-radius: 3px;
    display: block;
    margin: 8px 0;
    padding: 8px;
    width: 100%;
}

.group {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 8px 0;
    padding: 16px;
}

.group .title {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 8px;
}

.group .status {
    margin-bottom: 16px;
}
